.App-logo {
  height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ant-card-cover img {
  height: 220px;
}

.ant-col-5 {
  width: 20% !important;
}

.cart {
  padding: 20px 15px;
}

h2 {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
}

.content .anticon-close-circle {
  float: right;
  top: 4px;
  position: relative;
  cursor: pointer;
  color: #ff4d4f;
}

.cart .title {
  width: 70px;
  display: inline-block;
  margin-right: 10px;
}

.content .anticon-plus-circle {
  color: #096dd9
}
.content .anticon-minus-circle {
  color: #096dd9
}